.banner {
    background: 'url(./Merchandise Banner.png)' no-repeat center center;
    background-size: cover;
}

.banner-text {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.event-card {
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}

.event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-details {
    padding: 16px;
}

.event-badges {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.event-category, .event-type {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}

.event-category {
    background-color: #4caf50; /* Green */
}

.event-type {
    background-color: #2196f3; /* Blue */
}
