/* EditThread.module.css */

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.textField {
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.uploadButton {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.uploadButton:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.updateButton {
    background-color: #28a745;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.updateButton:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.imagePreview {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.imagePreview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.formContainer {
    margin-top: 16px !important; /* Ensure the margin is applied */
}
